
# Bioinformatics raw and output data
*.fastq
*.fastq.gz
*.sra
*.bam
*.sam
*.bai
*.fa
*.gtf

# Directories with large/intermediate files
preprocessing/raw_data/
trimmed_data/
alignments/
multiqc/
salmon_output/
salmon_index/

# Jupyter notebook checkpoints
*.ipynb_checkpoints

# System & environment files
.DS_Store
.env



